@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
*{
  margin: 0;
  padding: 0;
}
body{
    background: #0945AC;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
h1{
  color: white;
  font-size: 4rem;
  margin: 1rem;
  text-align: center;
}
#card{
  background-color: #CB9DC2;
  margin: auto;
  width: 50%;
  border-radius: 10px;
  color: #1D2956;
}
#image{
  width: 100%;
  height: 220px;
  margin: 0;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gif{
  display: block;
  max-height: 200px;
  max-width: 100%;
  margin: 0 auto;
}
#description{
  display: flex;
  min-height: 5rem;
  align-content: space-around;
  align-items: center;
}
p{
  width: 60%;
  height: 4rem;
  flex-grow: 3;
}
#character{
  font-size: 1.5rem;
  line-height: 2rem;
  display: block;
  text-indent: 1em;
  text-transform: uppercase;
}
#movie{
  text-indent: 3em;
  font-size: 1.2rem;
  line-height: 2rem;
  display: block;
}
#twitter{
  flex-grow: 1;
  display: block;
  text-align: center;
  width: 3rem;
  color: white;
  font-size: 3rem;
  line-height: 3rem;
  transition-duration: 0.5s;
}
#twitter:hover{
  color: #1D2956;
  font-size: 3.5rem;
  line-height: 3.5rem;
}
button{
  flex-grow: 1;
  background: rgba(0,0,0,0);
  border: none;
  color: #1D2956;
  font-size: 3rem;
  line-height: 3rem;
  width: 3rem;
  outline: none;
}
button i{
    transition-duration: 0.5s;
}
button:active i{
  transform:rotate(360deg);
  opacity: 0.5;
}
i+span{
  display: none;

